@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:wght@700&display=swap');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif; */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
aside,
main header,
footer {
  margin: 0;
  padding: 0;
}

.app {
  padding: 2em 10em;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  color: #000000;
}

ul {
  list-style: none;
  width: 700px;
}

header p {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #4f4f4f;
  width: 528px;
  margin: 5px 5px 30px;
}

.main-image {
  width: 969px;
  height: 470px;
}

main h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  margin: 20px 0 20px;
}

main .list-title {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 18px;
  line-height: 24px;
  color: #333333;
  margin-bottom: 20px;
}

input[type='checkbox'] {
  width: 21px;
  height: 21px;
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.list-items {
  display: flex;
  margin-bottom: 5px;
}

.list-items p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 25px;
  color: #333333;
  width: 528px;
}

main h3 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  margin: 10px 0 20px;
}

.numbered-list-items {
  display: flex;
  margin: 20px 20px 20px 0;
  align-items: flex-start;
}

.numbered-list-items .number {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  width: 36px;
  height: 36px;
  background: #f2994a;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.numbered-list-items span {
  font-family: 'Montserrat', sans-serif;
  line-height: 20px;
  color: #000000;
  width: 528px;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 216px;
  height: 367px;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  position: relative;
  left: 750px;
  top: 50px;
}

.image-icon {
  width: 20px;
  height: 20px;
  color: #ffffff;
}

aside .menu {
  display: flex;

  margin: 20px;
}

.icon-detail {
  margin-left: 10px;
  font-family: 'Montserrat', sans-serif;
}

footer {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
  margin: 50px 0;
}
@media only screen and (max-width: 900px) {
  .app {
    padding: 5px 10px;
  }

  h1 {
    width: 352px;
    font-size: 24px;
    line-height: 32px;
  }

  header p {
    width: 352px;
    font-size: 12px;
    line-height: 15px;
  }

  .main-image {
    width: 352px;
    height: 213.83px;
  }

  ul {
    width: 352px;
  }
  aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 352px;
    height: 250px;
    background: inherit;
    box-shadow: none;
    border-radius: 0;
    left: -20px;
  }
  .time-check {
    display: flex;
  }
}
